.box {
    border: 2px solid black;
    padding: 40px;
    margin-left: 400px;
    align-items: center;
    width: 500px;
    height: 750px;
  }
  /* .box h1:hover{
    color:rgb(230, 198, 157);
} */
  .box h1{
    font-family: 'Hurricane', cursive;
    font-size: 60px;
    display: inline;
  }
   
  .box p::first-letter{
      font-size: 300%;
      color: burlywood;
  }
  .box p{
      font-family: 'Great Vibes', cursive;
      font-size: 20px;
  }